{
  "swagger": "2.0",
  "info": {
    "title": "Azure Action Groups API",
    "x-ms-code-generation-settings": {
      "name": "MonitorManagementClient"
    },
    "version": "2023-01-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/actionGroups/{actionGroupName}/createNotifications": {
      "post": {
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/TestNotificationDetailsResponse"
        },
        "description": "Send test notifications to a set of provided receivers",
        "operationId": "ActionGroups_CreateNotificationsAtActionGroupResourceLevel",
        "x-ms-examples": {
          "Create notifications at resource group level": {
            "$ref": "./examples/postTestNotificationsAtActionGroupResourceLevel.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ActionGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "notificationRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotificationRequestBody"
            },
            "description": "The notification request body which includes the contact details"
          }
        ],
        "responses": {
          "202": {
            "description": "The notification request accepted",
            "headers": {
              "location": {
                "type": "string",
                "description": "The location header that has the polling uri."
              }
            }
          },
          "default": {
            "description": "An error occurred while sending the test notifications",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AzureResource": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "type": "object",
      "x-ms-azure-resource": true,
      "description": "An azure resource object"
    },
    "TestNotificationDetailsResponse": {
      "description": "The details of the test notification results.",
      "type": "object",
      "properties": {
        "context": {
          "type": "object",
          "$ref": "#/definitions/Context"
        },
        "state": {
          "type": "string",
          "description": "The overall state"
        },
        "completedTime": {
          "type": "string",
          "description": "The completed time"
        },
        "createdTime": {
          "type": "string",
          "description": "The created time"
        },
        "actionDetails": {
          "x-ms-identifiers": [],
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActionDetail"
          },
          "description": "The list of action detail"
        }
      },
      "required": [
        "state"
      ]
    },
    "ActionDetail": {
      "description": "The action detail",
      "type": "object",
      "properties": {
        "MechanismType": {
          "type": "string",
          "description": "The mechanism type"
        },
        "Name": {
          "type": "string",
          "description": "The name of the action"
        },
        "Status": {
          "type": "string",
          "description": "The status of the action"
        },
        "SubState": {
          "type": "string",
          "description": "The substatus of the action"
        },
        "SendTime": {
          "type": "string",
          "description": "The send time"
        },
        "Detail": {
          "type": "string",
          "description": "The detail of the friendly error message"
        }
      }
    },
    "Context": {
      "description": "The context info",
      "type": "object",
      "properties": {
        "notificationSource": {
          "type": "string",
          "description": "The source of the notification request"
        },
        "contextType": {
          "type": "string",
          "description": "The context id type"
        }
      }
    },
    "ActionGroupResource": {
      "description": "An action group resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/AzureResource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ActionGroup",
          "description": "The action groups properties of the resource."
        }
      }
    },
    "ActionGroupList": {
      "description": "A list of action groups.",
      "type": "object",
      "properties": {
        "value": {
          "x-ms-identifiers": [],
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActionGroupResource"
          },
          "description": "The list of action groups."
        },
        "nextLink": {
          "type": "string",
          "description": "Provides the link to retrieve the next set of elements."
        }
      }
    },
    "NotificationRequestBody": {
      "description": "The request body which contain contact detail metadata",
      "type": "object",
      "properties": {
        "alertType": {
          "type": "string",
          "maxLength": 30,
          "description": "The value of the supported alert type. Supported alert type values are: servicehealth, metricstaticthreshold, metricsdynamicthreshold, logalertv2, smartalert, webtestalert, logalertv1numresult, logalertv1metricmeasurement, resourcehealth, activitylog, actualcostbudget, forecastedbudget"
        },
        "emailReceivers": {
          "x-ms-identifiers": [],
          "type": "array",
          "items": {
            "$ref": "#/definitions/EmailReceiver"
          },
          "description": "The list of email receivers that are part of this action group."
        },
        "smsReceivers": {
          "x-ms-identifiers": [],
          "type": "array",
          "items": {
            "$ref": "#/definitions/SmsReceiver"
          },
          "description": "The list of SMS receivers that are part of this action group."
        },
        "webhookReceivers": {
          "x-ms-identifiers": [],
          "type": "array",
          "items": {
            "$ref": "#/definitions/WebhookReceiver"
          },
          "description": "The list of webhook receivers that are part of this action group."
        },
        "itsmReceivers": {
          "x-ms-identifiers": [],
          "type": "array",
          "items": {
            "$ref": "#/definitions/ItsmReceiver"
          },
          "description": "The list of ITSM receivers that are part of this action group."
        },
        "azureAppPushReceivers": {
          "x-ms-identifiers": [],
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureAppPushReceiver"
          },
          "description": "The list of AzureAppPush receivers that are part of this action group."
        },
        "automationRunbookReceivers": {
          "x-ms-identifiers": [],
          "type": "array",
          "items": {
            "$ref": "#/definitions/AutomationRunbookReceiver"
          },
          "description": "The list of AutomationRunbook receivers that are part of this action group."
        },
        "voiceReceivers": {
          "x-ms-identifiers": [],
          "type": "array",
          "items": {
            "$ref": "#/definitions/VoiceReceiver"
          },
          "description": "The list of voice receivers that are part of this action group."
        },
        "logicAppReceivers": {
          "x-ms-identifiers": [],
          "type": "array",
          "items": {
            "$ref": "#/definitions/LogicAppReceiver"
          },
          "description": "The list of logic app receivers that are part of this action group."
        },
        "azureFunctionReceivers": {
          "x-ms-identifiers": [],
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureFunctionReceiver"
          },
          "description": "The list of azure function receivers that are part of this action group."
        },
        "armRoleReceivers": {
          "x-ms-identifiers": [],
          "type": "array",
          "items": {
            "$ref": "#/definitions/ArmRoleReceiver"
          },
          "description": "The list of ARM role receivers that are part of this action group. Roles are Azure RBAC roles and only built-in roles are supported."
        },
        "eventHubReceivers": {
          "x-ms-identifiers": [],
          "type": "array",
          "items": {
            "$ref": "#/definitions/EventHubReceiver"
          },
          "description": "The list of event hub receivers that are part of this action group."
        }
      },
      "required": [
        "alertType"
      ]
    },
    "ActionGroup": {
      "description": "An Azure action group.",
      "type": "object",
      "properties": {
        "groupShortName": {
          "type": "string",
          "maxLength": 12,
          "description": "The short name of the action group. This will be used in SMS messages."
        },
        "enabled": {
          "type": "boolean",
          "default": true,
          "description": "Indicates whether this action group is enabled. If an action group is not enabled, then none of its receivers will receive communications."
        },
        "emailReceivers": {
          "x-ms-identifiers": [],
          "type": "array",
          "items": {
            "$ref": "#/definitions/EmailReceiver"
          },
          "description": "The list of email receivers that are part of this action group."
        },
        "smsReceivers": {
          "x-ms-identifiers": [],
          "type": "array",
          "items": {
            "$ref": "#/definitions/SmsReceiver"
          },
          "description": "The list of SMS receivers that are part of this action group."
        },
        "webhookReceivers": {
          "x-ms-identifiers": [],
          "type": "array",
          "items": {
            "$ref": "#/definitions/WebhookReceiver"
          },
          "description": "The list of webhook receivers that are part of this action group."
        },
        "itsmReceivers": {
          "x-ms-identifiers": [],
          "type": "array",
          "items": {
            "$ref": "#/definitions/ItsmReceiver"
          },
          "description": "The list of ITSM receivers that are part of this action group."
        },
        "azureAppPushReceivers": {
          "x-ms-identifiers": [],
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureAppPushReceiver"
          },
          "description": "The list of AzureAppPush receivers that are part of this action group."
        },
        "automationRunbookReceivers": {
          "x-ms-identifiers": [],
          "type": "array",
          "items": {
            "$ref": "#/definitions/AutomationRunbookReceiver"
          },
          "description": "The list of AutomationRunbook receivers that are part of this action group."
        },
        "voiceReceivers": {
          "x-ms-identifiers": [],
          "type": "array",
          "items": {
            "$ref": "#/definitions/VoiceReceiver"
          },
          "description": "The list of voice receivers that are part of this action group."
        },
        "logicAppReceivers": {
          "x-ms-identifiers": [],
          "type": "array",
          "items": {
            "$ref": "#/definitions/LogicAppReceiver"
          },
          "description": "The list of logic app receivers that are part of this action group."
        },
        "azureFunctionReceivers": {
          "x-ms-identifiers": [],
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureFunctionReceiver"
          },
          "description": "The list of azure function receivers that are part of this action group."
        },
        "armRoleReceivers": {
          "x-ms-identifiers": [],
          "type": "array",
          "items": {
            "$ref": "#/definitions/ArmRoleReceiver"
          },
          "description": "The list of ARM role receivers that are part of this action group. Roles are Azure RBAC roles and only built-in roles are supported."
        },
        "eventHubReceivers": {
          "x-ms-identifiers": [],
          "type": "array",
          "items": {
            "$ref": "#/definitions/EventHubReceiver"
          },
          "description": "The list of event hub receivers that are part of this action group."
        }
      },
      "required": [
        "groupShortName",
        "enabled"
      ]
    },
    "EmailReceiver": {
      "description": "An email receiver.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the email receiver. Names must be unique across all receivers within an action group."
        },
        "emailAddress": {
          "type": "string",
          "description": "The email address of this receiver."
        },
        "useCommonAlertSchema": {
          "type": "boolean",
          "default": false,
          "description": "Indicates whether to use common alert schema."
        },
        "status": {
          "readOnly": true,
          "$ref": "#/definitions/ReceiverStatus",
          "description": "The receiver status of the e-mail."
        }
      },
      "required": [
        "name",
        "emailAddress"
      ]
    },
    "SmsReceiver": {
      "description": "An SMS receiver.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the SMS receiver. Names must be unique across all receivers within an action group."
        },
        "countryCode": {
          "type": "string",
          "description": "The country code of the SMS receiver."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number of the SMS receiver."
        },
        "status": {
          "readOnly": true,
          "$ref": "#/definitions/ReceiverStatus",
          "description": "The status of the receiver."
        }
      },
      "required": [
        "name",
        "countryCode",
        "phoneNumber"
      ]
    },
    "WebhookReceiver": {
      "description": "A webhook receiver.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the webhook receiver. Names must be unique across all receivers within an action group."
        },
        "serviceUri": {
          "type": "string",
          "description": "The URI where webhooks should be sent."
        },
        "useCommonAlertSchema": {
          "type": "boolean",
          "default": false,
          "description": "Indicates whether to use common alert schema."
        },
        "useAadAuth": {
          "type": "boolean",
          "default": false,
          "description": "Indicates whether or not use AAD authentication."
        },
        "objectId": {
          "type": "string",
          "description": "Indicates the webhook app object Id for aad auth."
        },
        "identifierUri": {
          "type": "string",
          "description": "Indicates the identifier uri for aad auth."
        },
        "tenantId": {
          "type": "string",
          "description": "Indicates the tenant id for aad auth."
        }
      },
      "required": [
        "name",
        "serviceUri"
      ]
    },
    "ItsmReceiver": {
      "description": "An Itsm receiver.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the Itsm receiver. Names must be unique across all receivers within an action group."
        },
        "workspaceId": {
          "type": "string",
          "description": "OMS LA instance identifier."
        },
        "connectionId": {
          "type": "string",
          "description": "Unique identification of ITSM connection among multiple defined in above workspace."
        },
        "ticketConfiguration": {
          "type": "string",
          "description": "JSON blob for the configurations of the ITSM action. CreateMultipleWorkItems option will be part of this blob as well."
        },
        "region": {
          "type": "string",
          "description": "Region in which workspace resides. Supported values:'centralindia','japaneast','southeastasia','australiasoutheast','uksouth','westcentralus','canadacentral','eastus','westeurope'"
        }
      },
      "required": [
        "name",
        "workspaceId",
        "connectionId",
        "ticketConfiguration",
        "region"
      ]
    },
    "EventHubReceiver": {
      "description": "An Event hub receiver.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the Event hub receiver. Names must be unique across all receivers within an action group."
        },
        "eventHubNameSpace": {
          "type": "string",
          "description": "The Event Hub namespace"
        },
        "eventHubName": {
          "type": "string",
          "description": "The name of the specific Event Hub queue"
        },
        "useCommonAlertSchema": {
          "type": "boolean",
          "default": false,
          "description": "Indicates whether to use common alert schema."
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant Id for the subscription containing this event hub"
        },
        "subscriptionId": {
          "type": "string",
          "description": "The Id for the subscription containing this event hub"
        }
      },
      "required": [
        "name",
        "eventHubNameSpace",
        "eventHubName",
        "subscriptionId"
      ]
    },
    "AzureAppPushReceiver": {
      "description": "The Azure mobile App push notification receiver.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the Azure mobile app push receiver. Names must be unique across all receivers within an action group."
        },
        "emailAddress": {
          "type": "string",
          "description": "The email address registered for the Azure mobile app."
        }
      },
      "required": [
        "name",
        "emailAddress"
      ]
    },
    "AutomationRunbookReceiver": {
      "description": "The Azure Automation Runbook notification receiver.",
      "type": "object",
      "properties": {
        "automationAccountId": {
          "type": "string",
          "description": "The Azure automation account Id which holds this runbook and authenticate to Azure resource."
        },
        "runbookName": {
          "type": "string",
          "description": "The name for this runbook."
        },
        "webhookResourceId": {
          "type": "string",
          "description": "The resource id for webhook linked to this runbook."
        },
        "isGlobalRunbook": {
          "type": "boolean",
          "description": "Indicates whether this instance is global runbook."
        },
        "name": {
          "type": "string",
          "description": "Indicates name of the webhook."
        },
        "serviceUri": {
          "type": "string",
          "description": "The URI where webhooks should be sent."
        },
        "useCommonAlertSchema": {
          "type": "boolean",
          "default": false,
          "description": "Indicates whether to use common alert schema."
        }
      },
      "required": [
        "automationAccountId",
        "runbookName",
        "webhookResourceId",
        "isGlobalRunbook"
      ]
    },
    "VoiceReceiver": {
      "description": "A voice receiver.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the voice receiver. Names must be unique across all receivers within an action group."
        },
        "countryCode": {
          "type": "string",
          "description": "The country code of the voice receiver."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number of the voice receiver."
        }
      },
      "required": [
        "name",
        "countryCode",
        "phoneNumber"
      ]
    },
    "LogicAppReceiver": {
      "description": "A logic app receiver.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the logic app receiver. Names must be unique across all receivers within an action group."
        },
        "resourceId": {
          "type": "string",
          "description": "The azure resource id of the logic app receiver."
        },
        "callbackUrl": {
          "type": "string",
          "description": "The callback url where http request sent to."
        },
        "useCommonAlertSchema": {
          "type": "boolean",
          "default": false,
          "description": "Indicates whether to use common alert schema."
        }
      },
      "required": [
        "name",
        "resourceId",
        "callbackUrl"
      ]
    },
    "AzureFunctionReceiver": {
      "description": "An azure function receiver.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the azure function receiver. Names must be unique across all receivers within an action group."
        },
        "functionAppResourceId": {
          "type": "string",
          "description": "The azure resource id of the function app."
        },
        "functionName": {
          "type": "string",
          "description": "The function name in the function app."
        },
        "httpTriggerUrl": {
          "type": "string",
          "description": "The http trigger url where http request sent to."
        },
        "useCommonAlertSchema": {
          "type": "boolean",
          "default": false,
          "description": "Indicates whether to use common alert schema."
        }
      },
      "required": [
        "name",
        "functionAppResourceId",
        "functionName",
        "httpTriggerUrl"
      ]
    },
    "ArmRoleReceiver": {
      "description": "An arm role receiver.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the arm role receiver. Names must be unique across all receivers within an action group."
        },
        "roleId": {
          "type": "string",
          "description": "The arm role id."
        },
        "useCommonAlertSchema": {
          "type": "boolean",
          "default": false,
          "description": "Indicates whether to use common alert schema."
        }
      },
      "required": [
        "name",
        "roleId"
      ]
    },
    "ReceiverStatus": {
      "type": "string",
      "enum": [
        "NotSpecified",
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "ReceiverStatus",
        "modelAsString": false
      },
      "description": "Indicates the status of the receiver. Receivers that are not Enabled will not receive any communications."
    },
    "EnableRequest": {
      "description": "Describes a receiver that should be resubscribed.",
      "type": "object",
      "properties": {
        "receiverName": {
          "type": "string",
          "description": "The name of the receiver to resubscribe."
        }
      },
      "required": [
        "receiverName"
      ]
    },
    "ErrorResponse": {
      "description": "Describes the format of Error response.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      }
    },
    "ActionGroupPatchBody": {
      "description": "An action group object for the body of patch operations.",
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ActionGroupPatch",
          "description": "The action group settings for an update operation."
        }
      }
    },
    "ActionGroupPatch": {
      "description": "An Azure action group for patch operations.",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "default": true,
          "description": "Indicates whether this action group is enabled. If an action group is not enabled, then none of its actions will be activated."
        }
      }
    }
  },
  "parameters": {
    "NotificationIdParameter": {
      "name": "notificationId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The notification id",
      "x-ms-parameter-location": "method"
    },
    "ActionGroupNameParameter": {
      "name": "actionGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the action group.",
      "x-ms-parameter-location": "method"
    }
  }
}
